.login{
  background: url("https://plus.unsplash.com/premium_photo-1661880749508-71d9e7170508?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes borderColorChange {
  0% {
    border-color: red;
  }
  25% {
    border-color: orange;
  }
  50% {
    border-color: yellow;
  }
  75% {
    border-color: green;
  }
  100% {
    border-color: blue;
  }
}
.form{
  border: 4px solid; 
  animation: borderColorChange 5s infinite;
  position: relative;
  border-radius: 15px;
  padding: 60px;
  opacity: 0.9;
}

input[type="text"], input[type="password"] {
  position: relative;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

input[type="text"]::before, input[type="password"]::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3498db;
  transition: all 0.3s ease;
}

input[type="text"]:focus::before, input[type="password"]:focus::before {
  width: 100%;
  left: 0;
}
.password-rel{
  position: relative;
}
.eye-icon{
  position: absolute;
  right: 1px;
  bottom: 7px;
  background: #fff;
  padding-right: 16px;
  padding-left: 20px;
}
.button-primary {
  background-color:green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  }
.button-primary:hover {
  background-color:#0616f6e6;
  color: #fff; 
}




